@import "reset";
@import "globals";
@import "themes/normal";
@import "themes/dark";

body {
	overflow-y: scroll;
	color: var(--color);
	font: var(--font-m);
}

.app {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background: var(--bg-color);
}

a {
	color: var(--color);
	text-decoration: none;
	transition: color ease-in-out 0.2s;

	&:hover {
		color: var(--primary);
	}
}
