.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
}

.brand {
  justify-self: center;
}

.name {
  justify-self: flex-start;
  font-weight: 500;
  font-size: 14px;
}

.price {
  justify-self: flex-end;
}
