.card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 10px 0;
  column-gap: 10px;
}

.brand {
  justify-self: center;
}

.name {
  justify-self: flex-start;
  font-weight: 500;
  font-size: 14px;
}

.price {
  justify-self: flex-end;
  white-space: nowrap;
}

@media all and (max-width: 500px) {
  .card {
    grid-template-columns: 1fr;
  }


  .brand {
    justify-self: flex-start;
  }
}
