.header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 51px;
  padding: 0 20px;
  background-color: var(--bg-color);
  border-bottom: 1px solid var(--border-color);
  box-shadow: 0 4px 4px rgb(0 0 0 / 5%);
}

.nav {
  a {
    display: flex;
    align-items: center;
    column-gap: 5px;

    img {
      border: 1px solid var(--border-color);
      border-radius: 50%;
    }
  }

}

.main {
  flex: 1 0 auto;
  width: fill-available;
  margin: 71px auto 20px;
  max-width: 1200px;
}

.footer {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  justify-content: center;
  height: 50px;
  border-top: 1px solid var(--border-color);
}



